.MuiInputAdornment-root p {
  color: white;
}

fieldset {
  border-color: white !important;
}

.caption {
  opacity: 0.5;
}
.caption:hover {
  opacity: 1;
}

.tl-storyslider {
  display: none;
}

.tl-timenav {
  background: white;
  height: 100% !important;
}

.tl-menubar {
  transform: translateY(18px);
}

.tl-menubar button:nth-child(3) {
  display: none;
}
.tl-menubar button:nth-child(4) {
  display: none;
}

.tl-attribution {
  display: none;
}

.tl-timeera.tl-timeera-color1 .tl-timeera-background {
  background: #f39c12;
}
.tl-timeera.tl-timeera-color2 .tl-timeera-background {
  background: #3498db;
}
.tl-timeera.tl-timeera-color3 .tl-timeera-background {
  background: #c0392b;
}
.tl-timeera.tl-timeera-color4 .tl-timeera-background {
  background: #27ae60;
}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick {
  color: white;
}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick {
  color: white;
}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick .tl-timeaxis-tick-text span {
  /* color: white; */
}

body {
  font-family: 'Roboto';
  margin: 0px;
}

.tl-timenav-item-container .tl-timemarker:nth-last-child(-n+12) {
  display: none;
}